<div class="card tasks text-center border-info" style="background:rgba(255,255,255,.7)">
    <div class="card-body">
        <h5 class="card-title">
            <%=note.title%>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">Created By :
            <%=note.user%>
        </h6>
        <div class="card-text"><a href="/tasks/<%=note._id%>" class="card-link">Task Description</a></div>
        <div class="buttons"><a href="/tasks/edit-task/<%=note._id%>" class="btn btn-primary btn-sm">Edit</a></div>
        <div class="buttons"><a href="/tasks/delete-task/<%=note._id%>" class="btn btn-primary btn-sm">Delete</a></div>
    </div>
</div>

<hr>