<!DOCTYPE html>
<%- include('partials/header.ejs') %>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    
    <div class="container">
        <%-include('partials/card-bg.ejs')%>
        <h5 class="card-header text-center">Reset Password</h5>
        <div class="card-body center">
            <form method="POST" action="/resetPassword">
                <div class="form-row">
                    <input type="hidden" name="userId" value="<%= userId%>">
                    <input type="hidden" name="PasswordToken" value="<%= resetToken%>">
                    <input type="hidden" name="_csrf" value= "<%= csrfToken %>">
                    <div class="form-group col-sm-6">
                        <label>Password</label>
                        <input type="text" class="form-control" name="Password" placeholder="Password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Reset Password</button>
            </form>
        </div>
    </div>
    </div>
    <%- include('partials/scripts.ejs') %>
</body>

</html>