<%- include('partials/header.ejs') %>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
            <%-include('partials/card-bg.ejs')%>
            <h3 id="myDIV" class="card-header">
                <% if(tasks.length==0) {%>No Tasks Available. <% } else {%>Here are your tasks<% } %> </h3>
                <div class="card-body">
                        <% if(tasks.length==0) {%>
                            Add Some Tasks.
                        <% } else {%>
                            <% tasks.forEach(element => { %>
                                <%- include('partials/show.ejs',{note:element})%>
                                <%    }); %>       
                        <% } %>
                       
                </div>
        </div>
    </div>
    <%- include('partials/scripts.ejs') %>
</body>

</html>